#theCourseProfileOne {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 20px;
    text-align: left;
}

.boxForProfile {
    background-color: rgb(202, 228, 214);
    border-radius: 5px;
    padding: 5px 20px 20px 20px;
}

h1 {
    padding: 0px;
    grid-column: span 24;
    text-align: center;
}

h2 {
    padding: 0px 0px 0px 20px;
    grid-column: span 24;
    text-align: left;
}

#boxDesc {
    grid-column: span 10;
    grid-row: span 3;
}

#boxPrereqs {
    grid-column: span 14;
}

#boxSubject {
    grid-column: span 14;
}

#boxDifficulty {
    grid-column: span 4;
}

#boxHWTime {
    grid-column: span 4;
}

#boxTeachers {
    grid-column: span 6;
}

#backButton {
    margin: 10px 20px 10px 10px;
    padding: 10px;
} 

#whyCantIGethrToWork {
    border-top: 2px solid black;
    grid-column: span 24;
}

#ratingSubThing {
    grid-column: span 24;
    text-align: center;
}

#boxSubRating {
    grid-column: span 3;
}

#boxSubDifficulty {
    grid-column: span 5;
}

#boxSubWorkload {
    grid-column: span 5;
}

#boxSubReviews {
    grid-column: span 11;
}